<div class="container col-lg-12">
    <div class="row center-children-horizontal m-b-1">
        <div class="col-lg-7 center red-border center-children-horizontal">
            <input class="p-a-0" type="text" name="search" placeholder="Search..." [(ngModel)]=query (keyup)=filter()>
        </div>
    </div>
    <div class="row center-children-horizontal" *ngIf="filteredList.length > 0">
        <div class="row col-lg-5">
            <div class="row m-l-2 m-r-2 p-a-0 bottom-border-black" *ngFor="let element of filteredList">
                <table style="width:100%">
                    <tr>
                        <td rowspan="1" class="width-90">
                            <strong class="pull-left">{{element.name}}</strong>
                        </td>
                        <td rowspan="2" class="width-10">
                            <button class="btn-sm pull-right" (click)="select(element)">GO</button>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" class="width-90">
                            <label class="pull-left">{{element.positionCode}} - {{element.teamCode}}</label>
                        </td>
                    </tr>
                </table>

                
            </div>
        </div>
        
    </div>
</div>

<!--<ul *ngFor="let element of filteredList">
    <li>
        <a [routerLink]="['/player', element.playerID]">{{element.name}}</a>
    </li>


    <label class="pull-left">{{element.name}}</label>
    <button class="btn-sm pull-right" (click)="select(element)">GO</button>
</ul>-->

<!--<input id="country" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter()>-->
<!--<label for="country">Type Player Name</label>-->
